*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

header{
    background:#1e293b;
    padding:20px;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
}

.hero{
    text-align:center;
    padding:80px 20px;
}



.hero h1{
    margin-top:20px;
    font-size:50px;
}

.hero h3{
    color:#38bdf8;
    margin:10px 0;
}

.hero p{
    max-width:700px;
    margin:auto;
}

.buttons a{
    display:inline-block;
    margin:15px;
    padding:12px 25px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    border-radius:8px;
}

.buttons a:hover{
    background:#38bdf8;
}

section{
    padding:60px 10%;
}

h2{
    text-align:center;
    margin-bottom:20px;
    color:#38bdf8;
    
}
h2:hover{
    color: #2977a8;
}
#about{

    text-align: center;
}

.skill-box{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}

.skill-box span{
    background:#1e293b;
    padding:12px 20px;
    border-radius:8px;
}

.project-container{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    background:#1e293b;
    width:350px;
    padding:20px;
    border-radius:10px;
    transition:0.3s;
}
.gym-img{
    display: flex;
    box-shadow: #2563eb;
    
}

.card:hover{
    transform:translateY(-8px);
}

#contact{
    text-align:center;
}

#contact a{
    color:#38bdf8;
    text-decoration:none;
    margin:10px;
}

footer{
    text-align:center;
    background:#1e293b;
    padding:20px;
}

.hero-image img{
    width:250px;
    height:250px;
    border-radius:50%;
    object-fit:cover;
    border:6px solid #38bdf8;
    box-shadow:0 0 30px rgba(56,189,248,0.5);
}

.hero h1 span{
    color:#38bdf8;
}

.education-card{
    max-width:700px;
    margin:auto;
    background:#1e293b;
    padding:25px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 0 15px rgba(26, 51, 100, 0.3);
}
.education-card p{
    margin:10px 0;
    line-height:1.6;
}